@import "colors";

$fontFamilyBase: Roboto, sans-serif;
$fontSizeDefault: (
    px: 16,
    "%": 100,
);

$font: (
    default: (
        font-family: $fontFamilyBase,
        font-size: 1rem,
        line-height: 1.5rem,
        font-weight: 400,
    ),
    link: (
        font-size: inherit,
        line-height: inherit,
        font-weight: bolder,
        color: inherit,
        text-decoration: underline,
        background-color: transparent,
        "-webkit-text-decoration-skip": objects,
        _hover: (
            outline: 0,
            text-decoration: none,
        ),
    ),
    heading: (
        _h1: (
            font-family: $fontFamilyBase,
            font-size: 2rem,
            line-height: 3rem,
            font-weight: 800,
            margin: 0,
            padding: 0.75rem,
            color: inherit,
        ),
        _h2: (
            font-family: $fontFamilyBase,
            font-size: 1.75rem,
            line-height: 2.5rem,
            font-weight: 600,
            margin: 0,
            padding: 0.75rem,
            color: inherit,
        ),
        _h3: (
            font-family: $fontFamilyBase,
            font-size: 1.5rem,
            line-height: 2.5rem,
            font-weight: 400,
            margin: 0,
            padding: 0.75rem,
            color: inherit,
        ),
        _h4: (
            font-family: $fontFamilyBase,
            font-size: 1.25rem,
            line-height: 2.25rem,
            font-weight: 400,
            margin: 0,
            padding: 0.75rem,
            color: inherit,
        ),
        _h5: (
            font-family: $fontFamilyBase,
            font-size: 1rem,
            line-height: 2rem,
            font-weight: 400,
            margin: 0,
            padding: 0.75rem,
            color: inherit,
        ),
        _h6: (
            font-family: $fontFamilyBase,
            font-size: 1rem,
            line-height: 2rem,
            font-weight: 400,
            margin: 0,
            padding: 0.75rem,
            color: inherit,
        ),
    ),
    paragraph: (
        font-size: 1rem,
        line-height: 1.25rem,
        font-weight: 500,
        color: inherit,
        padding: 0.75rem,
    ),
);

$fontFamily: (
    "Roboto-Thin": (
        fontFamily: "Roboto",
        fontWeight: 100,
        fontStyle: (
            "normal",
            "italic",
        ),
    ),
    "Roboto-Light": (
        fontFamily: "Roboto",
        fontWeight: 300,
        fontStyle: (
            "normal",
            "italic",
        ),
    ),
    "Roboto-Regular": (
        fontFamily: "Roboto",
        fontWeight: 400,
        fontStyle: (
            "normal",
            "italic",
        ),
    ),
    "Roboto-Medium": (
        fontFamily: "Roboto",
        fontWeight: 500,
        fontStyle: (
            "normal",
            "italic",
        ),
    ),
    "Roboto-Bold": (
        fontFamily: "Roboto",
        fontWeight: 700,
        fontStyle: (
            "normal",
            "italic",
        ),
    ),
    "Roboto-Black": (
        fontFamily: "Roboto",
        fontWeight: 900,
        fontStyle: (
            "normal",
            "italic",
        ),
    ),
);
