.container[variant="margin-right"] {
    margin-right: 0.5rem;
}

.container[variant="icon-only"] .unit .content .icon {
    margin: 0;
}

.container[variant="text-only"] .unit .content .icon {
    margin: 0;
    width: 0;
    height: 0;
}

.container .checkbox {
    position: absolute;
    width: 0;
    height: 0;
    color: white;
}

.container .checkbox:checked + label .unit {
    background: #0bbaef;
}

.container .checkbox:checked + label .unit[variant~="color-white"] {
    background: white;
}

.container .checkbox:checked + label .unit[variant~="color-big-stone"] {
    background: #c7d100;
}

.container .checkbox:checked + label .unit[variant~="color-big-stone"] .content[variant="left"] {
    color: #2d3d43;
}

.container .checkbox:checked + label .unit[variant~="color-big-stone"] .content[variant="right"] {
    color: #2d3d43;
}

.container .checkbox:checked + label .unit[variant~="color-sky-blue"] {
    background: #0bbaef;
}

.container .checkbox:checked + label .unit[variant~="color-sky-blue"] .content[variant="left"] {
    color: white;
}

.container .checkbox:checked + label .unit[variant~="color-sky-blue"] .content[variant="right"] {
    color: #2d3d43;
}

.container .checkbox:checked + label .unit[variant~="color-la-rioja"] {
    background: #c7d100;
}

.container .checkbox:checked + label .unit[variant~="color-lipstick"] {
    background: #952360;
}

.container .checkbox:checked + label .unit .circle {
    left: calc(100% - 1.9rem);
}

.container .checkbox:checked + label .unit .content[variant="left"] {
    opacity: 1;
}

.container .checkbox:checked + label .unit .content[variant="right"] {
    opacity: 0;
}

.container .checkbox:focus + label .unit .circle {
    background: #61828f;
}

.container .checkbox:disabled + label {
    pointer-events: none;
}

.container .checkbox:disabled + label .unit {
    opacity: 0.5;
    cursor: default;
}

.container label {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

.container label .labelText {
    text-transform: uppercase;
    margin-right: 0.5rem;
}

.container .unit {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 4rem;
    height: 2rem;
    border-radius: 1.25rem;
    align-items: center;
    background: #9fb5bd;
    transition: all 0.3s ease-in-out;
}

.container .unit .circle {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    background: white;
    top: 0.25rem;
    left: 0.3rem;
    transition: all 0.3s ease-in-out;
}

.container .unit .content {
    display: flex;
    flex-direction: row;
    text-align: left;
    height: 2rem;
    max-height: 2rem;
    margin: 0 2.25rem 0 0.75rem;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    align-items: center;
    overflow: hidden;
}

.container .unit .content .text {
    line-height: 1.7rem;
}

.container .unit .content .icon {
    width: 1.825rem;
    height: 1.25rem;
    margin: 0 0.25rem 0 0;
}

.container .unit .content[variant="right"] {
    margin: -2rem 0.75rem 0 2.1rem;
    opacity: 1;
    align-self: flex-end;
    color: #2d3d43;
}

.container .unit .content[variant="right"] .icon {
    margin: 0 0 0 0.25rem;
}

.container .unit .content svg {
    align-self: center;
}
